In [1]:
import blackhc.notebook

Switched to directory C:\Users\black\PycharmProjects\corona
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [4]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [11]:
data = pd.read_excel("./data/census-2011-population-5year-age-ukdistricts.xls", sheet_name=1, index_col=[0,1,2])
data

                                                        All usual residents  \
Type                       Code      Area
Countries                  NaN       NaN                                NaN
                           K02000001 United Kingdom              63182175.0
                           K04000001 England and Wales           56075912.0
                           E92000001 England                     53012456.0
                           W92000004 Wales                        3063456.0
...                                                                     ...
Northern Ireland Districts 95V       Carrickfergus                  39114.0
                           95W       North Down                     78937.0
                           95X       Ards                           78078.0
                           95Y       Castlereagh                    67242.0
                           95Z       Belfast                       280962.0

                                                        Age 0 to 4  \
Type                       Code      Area
Countries                  NaN       NaN                       NaN
                           K02000001 United Kingdom      3913932.0
                           K04000001 England and Wales   3496750.0
                           E92000001 England             3318449.0
                           W92000004 Wales                178301.0
...                                                            ...
Northern Ireland Districts 95V       Carrickfergus          2350.0
                           95W       North Down             4765.0
                           95X       Ards                   4747.0
                           95Y       Castlereagh            4051.0
                           95Z       Belfast               18046.0

                                                        Age 5 to 9  \
Type                       Code      Area
Countries                  NaN       NaN                       NaN
                           K02000001 United Kingdom      3516698.0
                           K04000001 England and Wales   3135711.0
                           E92000001 England             2972632.0
                           W92000004 Wales                163079.0
...                                                            ...
Northern Ireland Districts 95V       Carrickfergus          2282.0
                           95W       North Down             4355.0
                           95X       Ards                   4654.0
                           95Y       Castlereagh            3768.0
                           95Z       Belfast               14618.0

                                                        Age 10 to 14  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        3669311.0
                           K04000001 England and Wales     3258677.0
                           E92000001 England               3080929.0
                           W92000004 Wales                  177748.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            2496.0
                           95W       North Down               4480.0
                           95X       Ards                     4879.0
                           95Y       Castlereagh              4167.0
                           95Z       Belfast                 16267.0

                                                        Age 15 to 19  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        3996426.0
                           K04000001 England and Wales     3539385.0
                           E92000001 England               3340265.0
                           W92000004 Wales                  199120.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            2726.0
                           95W       North Down               4625.0
                           95X       Ards                     4782.0
                           95Y       Castlereagh              4409.0
                           95Z       Belfast                 20403.0

                                                        Age 20 to 24  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        4297158.0
                           K04000001 England and Wales     3807245.0
                           E92000001 England               3595321.0
                           W92000004 Wales                  211924.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            2412.0
                           95W       North Down               4470.0
                           95X       Ards                     4404.0
                           95Y       Castlereagh              3782.0
                           95Z       Belfast                 26122.0

                                                        Age 25 to 29  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        4306308.0
                           K04000001 England and Wales     3836609.0
                           E92000001 England               3650881.0
                           W92000004 Wales                  185728.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            2197.0
                           95W       North Down               4760.0
                           95X       Ards                     4366.0
                           95Y       Castlereagh              3718.0
                           95Z       Belfast                 24285.0

                                                        Age 30 to 34  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        4125454.0
                           K04000001 England and Wales     3683915.0
                           E92000001 England               3509221.0
                           W92000004 Wales                  174694.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            2272.0
                           95W       North Down               4735.0
                           95X       Ards                     4526.0
                           95Y       Castlereagh              4179.0
                           95Z       Belfast                 20707.0

                                                        Age 35 to 39  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        4194421.0
                           K04000001 England and Wales     3732161.0
                           E92000001 England               3549116.0
                           W92000004 Wales                  183045.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            2551.0
                           95W       North Down               5117.0
                           95X       Ards                     5112.0
                           95Y       Castlereagh              4570.0
                           95Z       Belfast                 18094.0

                                                        Age 40 to 44  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        4625637.0
                           K04000001 England and Wales     4099089.0
                           E92000001 England               3885934.0
                           W92000004 Wales                  213155.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            3081.0
                           95W       North Down               5714.0
                           95X       Ards                     5851.0
                           95Y       Castlereagh              5197.0
                           95Z       Belfast                 18384.0

                                                        Age 45 to 49  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        4643071.0
                           K04000001 England and Wales     4100526.0
                           E92000001 England               3879815.0
                           W92000004 Wales                  220711.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            3227.0
                           95W       North Down               5779.0
                           95X       Ards                     5865.0
                           95Y       Castlereagh              5606.0
                           95Z       Belfast                 18981.0

                                                        Age 50 to 54  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        4094427.0
                           K04000001 England and Wales     3601694.0
                           E92000001 England               3400095.0
                           W92000004 Wales                  201599.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            2780.0
                           95W       North Down               5438.0
                           95X       Ards                     5532.0
                           95Y       Castlereagh              4891.0
                           95Z       Belfast                 17476.0

                                                        Age 55 to 59  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        3614087.0
                           K04000001 England and Wales     3183915.0
                           E92000001 England               2996992.0
                           W92000004 Wales                  186923.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            2307.0
                           95W       North Down               5023.0
                           95X       Ards                     4886.0
                           95Y       Castlereagh              3755.0
                           95Z       Belfast                 14049.0

                                                        Age 60 to 64  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        3807952.0
                           K04000001 England and Wales     3377162.0
                           E92000001 England               3172277.0
                           W92000004 Wales                  204885.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            2180.0
                           95W       North Down               5204.0
                           95X       Ards                     5208.0
                           95Y       Castlereagh              3335.0
                           95Z       Belfast                 12639.0

                                                        Age 65 to 69  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        3017482.0
                           K04000001 England and Wales     2674161.0
                           E92000001 England               2508154.0
                           W92000004 Wales                  166007.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            1993.0
                           95W       North Down               4775.0
                           95X       Ards                     4590.0
                           95Y       Castlereagh              3237.0
                           95Z       Belfast                 11346.0

                                                        Age 70 to 74  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        2462751.0
                           K04000001 England and Wales     2178672.0
                           E92000001 England               2044129.0
                           W92000004 Wales                  134543.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            1508.0
                           95W       North Down               3123.0
                           95X       Ards                     3153.0
                           95Y       Castlereagh              2728.0
                           95Z       Belfast                  9475.0

                                                        Age 75 to 79  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        2006005.0
                           K04000001 England and Wales     1777547.0
                           E92000001 England               1669345.0
                           W92000004 Wales                  108202.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus            1212.0
                           95W       North Down               2612.0
                           95X       Ards                     2341.0
                           95Y       Castlereagh              2355.0
                           95Z       Belfast                  8193.0

                                                        Age 80 to 84  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom        1604771.0
                           K04000001 England and Wales     1338005.0
                           E92000001 England               1258773.0
                           W92000004 Wales                   79232.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus             828.0
                           95W       North Down               1965.0
                           95X       Ards                     1677.0
                           95Y       Castlereagh              1950.0
                           95Z       Belfast                  6254.0

                                                        Age 85 to 89  \
Type                       Code      Area
Countries                  NaN       NaN                         NaN
                           K02000001 United Kingdom         846836.0
                           K04000001 England and Wales      825671.0
                           E92000001 England                776311.0
                           W92000004 Wales                   49360.0
...                                                              ...
Northern Ireland Districts 95V       Carrickfergus             475.0
                           95W       North Down               1309.0
                           95X       Ards                      966.0
                           95Y       Castlereagh              1099.0
                           95Z       Belfast                  3737.0

                                                        Age 90 to 100 and over
Type                       Code      Area
Countries                  NaN       NaN                                   NaN
                           K02000001 United Kingdom                   439248.0
                           K04000001 England and Wales                429017.0
                           E92000001 England                          403817.0
                           W92000004 Wales                             25200.0
...                                                                        ...
Northern Ireland Districts 95V       Carrickfergus                       237.0
                           95W       North Down                          688.0
                           95X       Ards                                539.0
                           95Y       Castlereagh                         445.0
                           95Z       Belfast                            1886.0

[456 rows x 20 columns]

In [14]:
london_data = data.xs("London", level="Area")
london_data

,,All usual residents,Age 0 to 4,Age 5 to 9,Age 10 to 14,Age 15 to 19,Age 20 to 24,Age 25 to 29,Age 30 to 34,Age 35 to 39,Age 40 to 44,Age 45 to 49,Age 50 to 54,Age 55 to 59,Age 60 to 64,Age 65 to 69,Age 70 to 74,Age 75 to 79,Age 80 to 84,Age 85 to 89,Age 90 to 100 and over
Type,Code,,,,,,,,,,,,,,,,,,,,
English Regions,E12000007,8173941.0,591495.0,482809.0,456865.0,471659.0,629972.0,832966.0,796888.0,664046.0,610020.0,556656.0,461290.0,371936.0,342590.0,256772.0,216286.0,176831.0,131830.0,80574.0,42456.0

In [30]:
london_age_buckets = london_data.reset_index().transpose()[0]["Age 0 to 4":]
london_age_buckets

Age 0 to 4                591495
Age 5 to 9                482809
Age 10 to 14              456865
Age 15 to 19              471659
Age 20 to 24              629972
Age 25 to 29              832966
Age 30 to 34              796888
Age 35 to 39              664046
Age 40 to 44              610020
Age 45 to 49              556656
Age 50 to 54              461290
Age 55 to 59              371936
Age 60 to 64              342590
Age 65 to 69              256772
Age 70 to 74              216286
Age 75 to 79              176831
Age 80 to 84              131830
Age 85 to 89               80574
Age 90 to 100 and over     42456
Name: 0, dtype: object

In [38]:
london_age_buckets_by_decade = {}
for i in range(9):
    key = f"{i*10} <= age < {i*10+10}"
    london_age_buckets_by_decade[key] = london_age_buckets[2*i] + london_age_buckets[2*i+1]
london_age_buckets_by_decade["age >=90"] = london_age_buckets[-1]

london_age_buckets_by_decade

{'0 <= age < 10': 1074304.0,
 '10 <= age < 20': 928524.0,
 '20 <= age < 30': 1462938.0,
 '30 <= age < 40': 1460934.0,
 '40 <= age < 50': 1166676.0,
 '50 <= age < 60': 833226.0,
 '60 <= age < 70': 599362.0,
 '70 <= age < 80': 393117.0,
 '80 <= age < 90': 212404.0,
 'age >=90': 42456.0}